<a href="https://colab.research.google.com/github/IuriiPosidielov/python/blob/main/monthlyreport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
from datetime import datetime, timedelta
import pandas as pd

def get_working_dates_of_selected_month(year, month):
    # Calculate the first day of the selected month
    first_day_of_month = datetime(year, month, 1)

    # Calculate the last day of the selected month
    last_day_of_month = (first_day_of_month + timedelta(days=32)).replace(day=1) - timedelta(days=1)

    # Generate all working dates of the selected month (excluding weekends)
    working_dates = [first_day_of_month + timedelta(days=x) for x in range((last_day_of_month - first_day_of_month).days + 1) if (first_day_of_month + timedelta(days=x)).weekday() < 5]

    return working_dates

def save_working_dates_to_csv(working_dates, csv_filename='monthlyreport.csv'):
    # Specify the CSV file header
    header = ['Date','Description']

    # Write working dates to CSV
    with open(csv_filename, mode='w', newline='') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(header)
        for working_date in working_dates:
            writer.writerow([working_date.strftime('%d-%m-%Y'),'working'])

# Input the desired month and year
selected_year = 2025
selected_month = 4

# Get all working dates of the selected month
all_working_dates_of_selected_month = get_working_dates_of_selected_month(selected_year, selected_month)

pd.Series(all_working_dates_of_selected_month)
# Save working dates to CSV
#save_working_dates_to_csv(all_working_dates_of_selected_month)


#for working_date in all_working_dates_of_selected_month:
#  print(working_date.strftime('%Y-%m-%d'))

0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
5    2024-01-08
6    2024-01-09
7    2024-01-10
8    2024-01-11
9    2024-01-12
10   2024-01-15
11   2024-01-16
12   2024-01-17
13   2024-01-18
14   2024-01-19
15   2024-01-22
16   2024-01-23
17   2024-01-24
18   2024-01-25
19   2024-01-26
20   2024-01-29
21   2024-01-30
22   2024-01-31
dtype: datetime64[ns]

# Новый раздел